/*!**************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./src/styles.scss ***!
  \**************************************************************************************************************************************/
.block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  border: 2px solid;
  padding: 15px;
}
/*!***********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/productStyle.css ***!
  \***********************************************************************************/
.block{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    border: 2px solid;
    padding: 15px;
    margin-bottom: 30px;
}
.table{
    padding: 20px;
}
.table-item{
    padding: 10px 25px 0 0;
}
.delete-icon, .edit-icon {
    width: 20px;
}
